$font: 'Chelsea Market', cursive;
$canvasBorder: #7c3e12;
$canvasBg: #db9c66;
$btnColor: #011627;
$btnHoverColor: #072742;
$btnShadowColor: #5c5b5b;
$btnOnClickShadowColor: #474747;
$btnFontColor: white;
$fullScreen: 100%;
$bgImg: url('../img/wood.png');