$font: 'Chelsea Market', cursive;
$btnColor: #011627;
$btnHoverColor: #072742;
$btnShadowColor: #5c5b5b;
$btnOnClickShadowColor: #474747;
$btnFontColor: white;
$fullScreen: 100%;
$bgImg: url('../img/bg.png');